<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🍻 Pub-Quiz App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sort-quiz">
                📋 Sort Quiz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="year-quiz">
                📅 Year Quiz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="PRIVACY.md" target="_blank">
                🔒 Privacy Policy
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="IMPRESSUM.md" target="_blank">
                ⚖️ Impressum
            </a>
        </div>
        <div class="nav-item px-3 mt-auto">
            <a class="nav-link" href="https://github.com/selmaohneh/pub-quiz.app" target="_blank">
                🐙 GitHub
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
